{{- if and (not .Values.basicAuthSecretName) .Values.basicAuth }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "atlantis.fullname" . }}-basic-auth
  labels:
{{- include "atlantis.labels" . | nindent 4 }}
data:
  username: {{ .Values.basicAuth.username | b64enc }}
  password: {{ .Values.basicAuth.password | b64enc }}
{{- end }}
