{{- if .Values.gitconfig }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "atlantis.fullname" . }}-gitconfig
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "atlantis.labels" . | nindent 4 }}
  {{- if or .Values.secret.annotation .Values.extraAnnotations }}
  annotations:
    {{- with .Values.secret.annotation }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.extraAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
data:
  gitconfig: {{ .Values.gitconfig | b64enc }}
{{- end }}
