{{- if or .Values.aws.credentials .Values.aws.config }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "atlantis.fullname" . }}-aws
  labels:
{{- include "atlantis.labels" . | nindent 4 }}
data:
{{- if .Values.aws.credentials }}
  credentials: {{ .Values.aws.credentials | b64enc }}
{{- end }}
{{- if .Values.aws.config }}
  config: {{ .Values.aws.config | b64enc }}
{{- end }}
{{- end }}
