name: Lint and Test Charts

on:
  pull_request:
    paths:
      - 'charts/atlantis/**'
      - 'ct.yaml'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          # renovate: datasource=github-tags depName=helm packageName=helm/helm
          version: v3.10.3

      - uses: actions/setup-python@v5
        with:
          # renovate: datasource=docker depName=python
          python-version: '3.12'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed \
            --config ct.yaml \
            --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi
      - name: install helm unittests
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          helm plugin install --version v0.3.6 https://github.com/helm-unittest/helm-unittest
      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct lint \
            --config ct.yaml \
            --target-branch ${{ github.event.repository.default_branch }}


      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.9.0

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct install \
            --config ct.yaml \
            --target-branch ${{ github.event.repository.default_branch }}
