name: Lint and Test Charts

on:
  pull_request:
    paths:
      - 'charts/atlantis/**'
      - 'ct.yaml'

defaults:
  run:
    shell: bash

permissions: read-all

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4
        with:
          # renovate: datasource=github-tags depName=helm packageName=helm/helm
          version: v3.18.4

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          # renovate: datasource=docker depName=python
          python-version: '3.13'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed \
            --config ct.yaml \
            --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Check if docs are updated
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          make docs
          if [[ -n "$(git status --porcelain --untracked-files=no)" ]]; then
            echo "Documentation not up to date." >&2
            echo "Please run 'make docs' from the repository root and commit changes!" >&2
            git diff
            exit 1
          else
            echo "Documentation is up to date." >&2
          fi

      - name: Install helm unittests
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          make unit-test-install

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct lint \
            --config ct.yaml \
            --target-branch ${{ github.event.repository.default_branch }}


      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct install \
            --config ct.yaml \
            --target-branch ${{ github.event.repository.default_branch }}
